#footer {
    font-size: smaller;
   
    font-family:Courier New, Courier, monospace;
    background-color: #CFD8DC;
}

.carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.carousel {
    position: relative;
}

.rectangulo{
    width: 100%; 
    height: 10px; 
    background: #adc9d2;
}